local/workspace/vm/src/main/app/vm.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <flow name="secondFlow">
        <vm:inbound-endpoint exchange-pattern="request-response" path="myq" doc:name="VM Listener myq"/>
        <set-payload value="Second Flow Payload" doc:name="Set Payload"/>
        <set-variable variableName="numberOfParticipants" value="25" doc:name="FV numberOfParticipants"/>
        <set-session-variable variableName="numberOfDays" value="5" doc:name="SV numberOfDays"/>
        <logger message="Second Flow End" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="firstFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/vm-demo" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="VM Demo" doc:name="Set Payload"/>
        <set-variable variableName="trainer" value="Jagadeesh" doc:name="FV trainer"/>
        <set-session-variable variableName="training" value="mulesoft" doc:name="SV training"/>
        <vm:outbound-endpoint exchange-pattern="request-response" path="myq" doc:name="VM Sender myq"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
